/*
    Written by: Hanmin Liu;
    css style page for 'aboutus.html'
*/

html {
    height: 100%;
    background-color: gold;
}

body {
    margin: 0;
    height: 98%;
}

#main-content {
    height: 80%;
    width: 100%;
    opacity: 0.8;
    background-color: white;
}