/* 
    Written by Hanmin liu;
    the additional css file for enterinventory page.
*/
.displayinventory{
    border: 1px solid black;
    margin: 5px auto;
    height: 70%;
    width:80%;
}
.addinventory{
    border: 1px solid black;
    margin: 5px auto;
    height: 25%;
    width: 80%;
}
.inventory_form{
    margin:auto;
    height:100%;
    width:100%
}
.scroller {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
  }
.inventoryline{
    display: block;
    height:20%;
}