/* header section */

* {
    margin: 0;
}

.header {
    height: 10%;
    width: 100%;
    display: block;
}


/* 'FOOGLE' icon on the top-left corner */

.title_icon {
    display: inline-block;
    float: left;
    height: 100%;
    line-height: 90%;
    left: 1px;
    top: 0;
    font-size: 5vw;
    font-weight: 800;
}

.title_icon .character {
    float: left;
    text-shadow: 5px 5px black;
}

.f {
    color: rgb(66, 133, 244);
}

.o1 {
    color: rgb(219, 68, 55);
}

.o2 {
    color: rgb(244, 180, 0);
}

.g {
    color: rgb(66, 133, 244);
}

.l {
    color: rgb(15, 157, 88);
}

.e {
    color: rgb(219, 68, 55);
}


/* Shopping list Icon on the top right */

.shoppinglist_icon {
    display: block;
    float: right;
    height: 90%;
    background-color: gold;
    border-radius: 15px;
}

#shoppinglist-img {
    height: auto;
    width: auto;
    /* footer section */
}

.footer {
    height: 10%;
    color: aliceblue;
}