/* header section */

* {
    margin: 0;
}

.header {
    height: 10%;
    display: block;
}


/* 'FOOGLE' icon on the top-left corner */

.div-title_icon {
    display: inline-block;
    height: 100%;
    line-height: 90%;
    left: 1px;
    top: 0;
    font-size: 5vw;
    font-weight: 800;
}

.div-title_icon .character {
    float: left;
    text-shadow: 5px 5px black;
}

.div-title_icon .f {
    color: rgb(66, 133, 244);
}

.div-title_icon .o1 {
    color: rgb(219, 68, 55);
}

.div-title_icon .o2 {
    color: rgb(244, 180, 0);
}

.div-title_icon .g {
    color: rgb(66, 133, 244);
}

.div-title_icon .l {
    color: rgb(15, 157, 88);
}

.div-title_icon .e {
    color: rgb(219, 68, 55);
}


/* footer section */

.footer {
    height: 10%;
}