/* 
    Written by Hanmin Liu;
    css style page for menu.html;
*/

html {
    height: 100%;
    background-color: honeydew;
}

body {
    height: 100%;
}

.row {
    height: 79%;
    width: 100%;
    background-color: gold;
}

.column-1 {
    height: 100%;
    width: 40%;
    float: left;
}

.block-row {
    width: 100%;
    height: 50%;
}

.block {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 10%;
    background-color: honeydew;
    height: 70%;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.row a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: gold;
    text-decoration: none;
    font-size: 4.5vh;
    font-weight: 1000;
    text-align: center;
}


/* unvisited link */

.row a:link {
    color: white;
}


/* visited link */

.row a:visited {
    color: white;
}


/* mouse over link */

.row a:hover {
    background-color: goldenrod;
}

.column-2 {
    height: 100%;
    width: 60%;
    float: left;
}

.column-2 p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 0;
    width: 89%;
    height: 88%;
    font-size: 32px;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    border: 1px black solid;
}