html{
    height:100%;
    background-color: honeydew;
}
body{
    margin:0;
    height:98%;
}
.top-box{
    height: 10%;
}

.bottom-box{
    height:10%;
}
.form-box{
    height:80%;
    width:100%;
    background-color: gold;
}