html {
    height: 100%;
    background-color: honeydew;
}

body {
    background-image: url("../src/cooked-food.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.middle-box {
    height: 79%;
}

.column-1 {
    padding-left: 20px;
}

.search-panel {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
}


/* Search Bar */

#search_form {
    height: 14%;
    padding: 3vh 0 0 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.search {
    height: 75%;
    width: 80%;
    display: flex;
    margin: 0 10%;
}

.search-box {
    flex-grow: 1;
    height: 70%;
    width: 80%;
    text-align: center;
}

.search-comfirm {
    flex-grow: 1;
    width: 20%;
    margin: 20px;
}

.search-selection {
    margin: 0 10%;
}

.search-display {
    height: 85%;
}

#search-results {
    text-align: center;
    height: 87%;
}

#user_search {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: rgba(255, 242, 127, 0.6);
}

#search_button {
    height: 70%;
    width: 80%;
    border: 0;
    border-radius: 5px;
    background-color: gold;
}

#search_button:hover {
    background-color: goldenrod;
}

label {
    font-size: 1vh;
}