/* 
    Written by Hanmin Liu;
    css style page for serach.html;
*/

html {
    height: 100%;
}

body {
    background-image: url("../src/cooked-food.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.middle-box {
    height: 80%;
}

.search-panel {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
}


/* Search Bar */

#search_form {
    height: 14%;
    padding: 3vh 0 0 0;
    background-color: rgba(255, 255, 255, 0.7);
}

#searchbar-table {
    height: 80%;
    width: 80%;
    margin: 0 0 auto 2.2vh;
    border-collapse: collapse;
}

.search-display {
    height: 85%;
}

#search-results {
    text-align: center;
    height: 87%;
}

#user_search {
    height: 100%;
    width: 100%;
    border: 0;
    background-color: rgba(255, 242, 127, 0.6);
}

#search_button {
    height: 70%;
    width: 80%;
    border: 0;
    border-radius: 5px;
    background-color: gold;
}

#search_button:hover {
    background-color: goldenrod;
}

label {
    font-size: 1vh;
}


/* Search Results */

#index,
#buttons {
    text-align: center;
}

#search-results button {
    background-color: rgba(255, 242, 127, 0.6);
    border: 0;
    border-radius: 10px;
    width: 89%;
    height: 17%;
    margin: 1% 0 0 0;
}

#search-results button:hover {
    background-color: gold;
}