html{
    height:100%;
    background-color: honeydew;
}
body{
    height:100%;
}
.row{
    height:100%;
    width:100%;
}
.column-1{
    height:100%;
    width:50%;
}
.column-2{
    height:100%;
    width:50%;
}
.block-1{
    
}
.block-2{

}
.block-3{

}
.block-4{

}
.card{
    
}